<div class="login-container">
  <mat-card>
    <div class="login-header">
      <img src="assets/images/logo-caixa.png" alt="Logo CAIXA" width="200" />
      <h2>Portal do Investidor</h2>
      <p>Simulador e Gestão de Ativos</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Ex: cliente@exemplo.com"
        />
        <mat-error *ngIf="loginForm.get('email')?.invalid"
          >E-mail inválido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid"
          >Senha obrigatória</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid || isLoading"
      >
        {{ isLoading ? "Entrando..." : "Acessar Painel" }}
      </button>
    </form>
  </mat-card>
</div>
