/* :host é um seletor especial do Angular que seleciona o próprio componente */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ocupa a altura total da tela
  background-color: #f5f5f5; // Um cinza claro de fundo
}

.login-container {
  width: 100%;
  max-width: 400px;
}

/* Garante que os campos de formulário ocupem 100% da largura do card */
mat-form-field {
  width: 100%;
}

/* Alinha o botão à direita */
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
