.risk-card {
  max-width: 500px;
  margin-top: 10px;
  border-left: 5px solid #ff9800; /* barra laranja para indicar "Moderado" */
}

.highlight {
  color: #ff9800;
  font-weight: bold;
}

mat-card-content {
  margin-top: 15px;
  font-size: 16px;
}
