<mat-card>
  <mat-card-header>
    <mat-card-title>Simulador de Investimento</mat-card-title>
    <mat-card-subtitle>Descubra o retorno estimado</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form
      class="simulator-form"
      [formGroup]="simulatorForm"
      (ngSubmit)="onSimular()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Investimento</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="CDB">CDB</mat-option>
          <mat-option value="Fundo">Fundo Multimercado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valor a Investir (R$)</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex: 1000"
          formControlName="valor"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prazo (em meses)</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex: 12"
          formControlName="prazoMeses"
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!simulatorForm.valid"
          type="submit"
        >
          Simular
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="resultadoSimulacao" class="result-card">
  <mat-card-header>
    <mat-card-title>Resultado da Simulação</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      <strong>Valor Final Bruto: </strong>
      {{ resultadoSimulacao?.valorFinal | currency : "BRL" }}
    </p>
    <p>
      <strong>Rentabilidade (no período): </strong>
      {{ resultadoSimulacao?.rentabilidade | percent : "1.2-2" }}
    </p>
    <p>
      <strong>Detalhes: </strong>
      {{ resultadoSimulacao?.detalhes }}
    </p>
  </mat-card-content>
</mat-card>
