/* 1. Definição da Identidade Visual */
:root {
  --brand-blue: #0066b3;
  --brand-orange: #f7941e;
  --brand-gray: #f1f2f2;
}

/* 2. Configuração Básica */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-gray);
  color: #333;
}

/* 3. Classes Utilitárias */
.text-azul {
  color: var(--brand-blue) !important;
}
.text-laranja {
  color: var(--brand-orange) !important;
}

/* 4. Ajustes Globais Angular Material */
h1,
h2,
.mat-card-title,
.highlight {
  color: var(--brand-blue) !important;
}

mat-card {
  border-radius: 8px !important;
}

/* Botões */
.mat-mdc-raised-button.mat-primary:not(:disabled) {
  background-color: var(--brand-blue) !important;
  color: white !important;
}
.mat-mdc-button.mat-primary {
  color: var(--brand-blue) !important;
}

/* Avatar */
.icon-avatar {
  background-color: var(--brand-blue) !important;
  color: white !important;
}

/* Destaques pontuais em Laranja */
.risk-profile-highlight,
.badge.warning {
  color: var(--brand-orange) !important;
}
.mat-mdc-progress-spinner circle {
  stroke: var(--brand-orange) !important;
}

/* --- CONTAINER DASHBOARD EXPANDIDO --- */
.container-dashboard {
  width: 95%; /* Ocupa 95% da largura da tela */
  max-width: 1600px; /* Trava em telas ultra-wide */
  margin: 0 auto; /* Centraliza */
  padding: 24px 0; /* Padding só vertical, remove laterais para aproveitar espaço */
  box-sizing: border-box;
}
